.project {
  display: flex;
}

.project__model-white {
  position: relative;
  margin-top: 67px;
  width: 1150px;
  height: 644px;
  background-image: url(../../resources/model-white.png);
}

.project__title {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 375px;
  height: 112px;
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  line-height: 93.5%;
  letter-spacing: -3px;
}

.project__hedphones-white {
  position: absolute;
  top: 311px;
  left: 50px;
  width: 141px;
  height: 142px;
  background-image: url(../../resources/hedphones-white.png);
}

.project__buy-btn {
  position: absolute;
  top: 483px;
  left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 420px;
  height: 110px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 100px;
  font-size: 25px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.75px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.5s ease;
}

.project__buy-btn:hover {
  background-color: #fff;
  color: #000;
}

.project__model-black {
  position: relative;
  margin-top: 80px;
  width: 1150px;
  height: 644px;
  background-image: url(../../resources/model-black.png);
}

.project__hedphones-black {
  position: absolute;
  top: 311px;
  left: 50px;
  width: 141px;
  height: 142px;
  background-image: url(../../resources/hedphones-black.png);
}

.project__phone {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 149px;
}

.project__phone-text {
  display: flex;
  flex-direction: column-reverse;
  width: 555px;
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  line-height: 93.5%;
  letter-spacing: -3px;
}

.project__phone-white {
  position: relative;
  width: 570px;
  height: 644px;
  border-radius: 30px;
  border: 1px solid #fff;
  background-image: url(../../resources/phone-white.png);
}

.project__phone-name {
  position: absolute;
  top: 50px;
  left: 35px;
  width: 344px;
  font-size: 45px;
  font-weight: 700;
  line-height: 93.5%;
  letter-spacing: -2.25px;
  color: #fff;
}

.project__phone-black {
  position: absolute;
  left: 35px;
  bottom: 45px;
  width: 180px;
  height: 142px;
  border-radius: 30px;
  background-image: url(../../resources/phone-black.png);
}
