.header__nav {
  display: flex;
  gap: 46px;
  justify-content: center;
  margin-top: 41px;
  margin-bottom: 68px;
}

.nav__link {
  width: 90px;
  height: 30px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.54px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.2s;
}

.nav__link:hover {
  opacity: 0.5;
}

@media (max-width: 960px) {
}

@media (max-width: 375px) {
}
