html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter";
  font-style: normal;
  background: #000;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  width: 1150px;
}

.header__nav {
  margin-top: 41px;
  margin-bottom: 68px;
  display: flex;
  gap: 46px;
  justify-content: center;
}

.nav__link {
  width: 90px;
  height: 30px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.54px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.2s;
}

.nav__link:hover {
  opacity: 0.5;
}

.intro {
  display: flex;
}

.intro__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro__title {
  height: 156px;
  color: rgba(255, 37, 194, 1);
  font-weight: 700;
  font-size: 150px;
  line-height: 133px;
  letter-spacing: -10.5px;
  text-align: center;
}

.intro__subtitle {
  margin-top: 20px;
  width: 430px;
  height: 103px;
  color: #fff;
  font-weight: 400;
  font-size: 25px;
  line-height: normal;
  letter-spacing: -0.75px;
  text-align: center;
}

.intro__image {
  margin: 0 auto;
  margin-top: -34px;
  width: 819px;
  height: 840px;
  background-image: url(../resources/hedphones.png);
}

.project {
  display: flex;
}

.project__model-white {
  margin-top: 67px;
  position: relative;
  width: 1150px;
  height: 644px;
  background-image: url(../resources/model-white.png);
}

.project__title {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 375px;
  height: 112px;
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  line-height: 93.5%;
  letter-spacing: -3px;
}

.project__hedphones-white {
  position: absolute;
  top: 311px;
  left: 50px;
  width: 141px;
  height: 142px;
  background-image: url(../resources/hedphones-white.png);
}

.project__buy-btn {
  position: absolute;
  top: 483px;
  left: 50px;
  width: 420px;
  height: 110px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 100px;
  font-size: 25px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.75px;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}

.project__buy-btn:hover {
  background-color: #fff;
  color: #000;
}

.project__model-black {
  margin-top: 80px;
  position: relative;
  width: 1150px;
  height: 644px;
  background-image: url(../resources/model-black.png);
}

.project__hedphones-black {
  position: absolute;
  top: 311px;
  left: 50px;
  width: 141px;
  height: 142px;
  background-image: url(../resources/hedphones-black.png);
}

.project__phone {
  display: flex;
  margin-top: 80px;
  margin-bottom: 149px;
  justify-content: space-between;
}

.project__phone-text {
  display: flex;
  flex-direction: column-reverse;
  width: 555px;
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  line-height: 93.5%;
  letter-spacing: -3px;
}

.project__phone-white {
  position: relative;
  width: 570px;
  height: 644px;
  border-radius: 30px;
  border: 1px solid #fff;
  background-image: url(../resources/phone-white.png);
}

.project__phone-name {
  position: absolute;
  top: 50px;
  left: 35px;
  width: 344px;
  font-size: 45px;
  font-weight: 700;
  line-height: 93.5%;
  letter-spacing: -2.25px;
  color: #fff;
}

.project__phone-black {
  position: absolute;
  left: 35px;
  bottom: 45px;
  width: 180px;
  height: 142px;
  border-radius: 30px;
  background-image: url(../resources/phone-black.png);
}

.app {
  position: relative;
}

.app__hedphon {
  display: flex;
  justify-content: center;
}

.app__hedphones {
  width: 100%;
  height: 786px;
  background-image: url(../resources/app-hedphones.png);
  background-position: 50%;
  background-repeat: no-repeat;
}

.app__title {
  position: absolute;
  top: 190px;
  width: 560px;
  text-align: center;
  color: #ff25c2;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 73.5%;
  letter-spacing: -6px;
}

.app__text {
  position: absolute;
  top: 377px;
  width: 671px;
  height: 90px;
  color: #fff;
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.75px;
}

.app__text-indent {
  position: relative;
  top: 39px;
}

.workout {
  margin-top: 150px;
  display: flex;
}

.workout__title {
  margin: 0 auto;
  width: 676px;
  color: #ff25c2;
  text-align: center;
  font-size: 100px;
  font-weight: 700;
  line-height: 73.5%;
  letter-spacing: -6px;
}

.grid {
  width: 54px;
  height: 54px;
  object-fit: none;
  background-image: url(../resources/circle.png);
}

.workout__list {
  margin-top: 82px;
  display: flex;
  gap: 80px;
  flex-direction: column;
}

.work {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: column;
}

.work__description {
  width: 507px;
  color: #fff;
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.75px;
}

.technologists {
  margin-top: 150px;
  display: flex;
  justify-content: center;
}

.technology {
  border-radius: 10px;
  width: 1400px;
  height: 1040px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    url(../resources/technology.png),
    rgb(87, 21, 21) -252.881px 0px / 132.187% 100% no-repeat;
}

.technology__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.technology__title {
  margin-top: 130px;
  width: 1150px;
  color: #fff;
  text-align: center;
  font-size: 100px;
  font-weight: 700;
  line-height: 74.5%;
  letter-spacing: -6px;
}

.technology__description {
  margin-top: 40px;
  width: 942px;
  color: #fff;
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  line-height: 90%;
  letter-spacing: -2.7px;
}

.technology__buy {
  width: 866px;
  height: 110px;
  margin-top: 55px;
  display: block;
  border-radius: 100px;
  border: 1px solid #fff;
  cursor: pointer;
  color: #fff;
  font-size: 25px;
  font-weight: 400;
  line-height: normal;
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.technology__buy:hover {
  background-color: #fff;
  color: #000;
}

.gallery {
  margin-top: 150px;
}

.gallery__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.gallery__title {
  width: 1150px;
  margin-bottom: 96px;
  color: #fff;
  text-align: center;
  font-size: 100px;
  font-weight: 700;
  line-height: 75%;
  letter-spacing: -4px;
}

.gallery__slider {
  max-width: 1150px;
  width: 100%;
  position: relative;
  height: 582px;
}

.gallery__slide {
  opacity: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.7s ease;
}

.gallery__slide_active {
  opacity: 1;
}

.slide__box {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.slide__one {
  background-image: url(../resources/slide__one.png);
}

.slide__two {
  background-image: url(../resources/slide__two.png);
}

.slide__three {
  background-image: url(../resources/slide_three.png);
}

.slide__four {
  background-image: url(../resources/slide__four.png);
}

.slide__text {
  color: #fff;
  line-height: 30px;
  font-size: 25px;
  letter-spacing: -0.75px;
  text-align: center;
}

.slide__text-one {
  position: absolute;
  bottom: 90px;
  left: 337px;
  width: 475px;
}

.slide__text-two {
  position: absolute;
  bottom: 90px;
  left: 305px;
  width: 541px;
}

.slide__text-three {
  position: absolute;
  bottom: 100px;
  left: 298px;
  width: 554px;
}

.slide__text-four {
  position: absolute;
  bottom: 90px;
  left: 283px;
  width: 584px;
}

.gallery__controls {
  display: flex;
  position: absolute;
  bottom: 24px;
  left: calc(50% - 57px);
  gap: 19px;
}

.gallery__control-prev {
  padding: 0px;
  height: 47px;
  border: none;
  background: none;
}

.gallery__control-prev:hover {
  opacity: 0.5;
}

.gallery__control-next {
  padding: 0px;
  height: 47px;
  border: none;
  background: none;
}

.gallery__control-next:hover {
  opacity: 0.5;
}

.control__slide {
  cursor: pointer;
}

.footer__link {
  margin-top: 68px;
  display: flex;
  gap: 17%;
  justify-content: center;
}

.footer__link_nav {
  color: #fff;
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  line-height: 73.5%;
  letter-spacing: -3.6px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;
}

.footer__link_nav:hover {
  color: #ff25c2;
}

.footer__navigation {
  margin-top: 200px;
  display: flex;
  gap: 46px;
  justify-content: center;
}

.footer__date {
  margin: 81px 0 54px 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.footer__date > h2 {
  color: #ff25c2;
  font-weight: 700;
  font-size: 35px;
  line-height: 42px;
}
